:root {
    /*-----COLORS-----*/
    --txt-color: #444;
    --text-color: #643173;
    --tokensBox-color: #86a5c0;
    --tokensBox-btn-color: #a6d5f0;
    --title-color: #645dd7;
    --page-bg-color: #86a5c0;
    --main-bg-color: #dfe9ddec;
    --border-color: black;
    --a-hover-color: white;
    --a-clicked-color: black;
    --a-color: var(--title-color);

    /*------TEXT--------*/
    --title-txt: 3rem;
    --medium-txt: 2rem;
    --small-txt: 1.5rem;
    
    /* ----- BUTTONS -------*/
    --btn-img-size: 20%;
    --btn-img-size-bigScreen: 20%;
    --ecouter: url("img/hp.png");
    --verifier: url("img/ok.png");
    --next: url("img/next.png");

}

html, body {
    padding: 0;
    margin: 0;
    font-size: 80%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: var(--title-txt);
    margin: 0 auto;
    text-align: center;
    color:var(--title-color);
}

h2  {
    font-size: var(--medium-txt);
    margin: 0 auto;
    text-align: center;
    color: var(--txt-color);
}

body {
    background-color: var(--page-bg-color);
    display:flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
}

main {
    background: var(--main-bg-color);
    margin: 0;
    color: var(--txt-color);
    flex: 80%;
    width: 100%;
    min-width: 200px;
    min-height: 300px;
    border-radius: 15px;
}

.auth {
    text-align: center;
}

form input, form button {
    background: var(--tokensBox-btn-color);
    color: var(--a-color);
    border-radius: 3px;
}

form input:hover, form button:hover {
    color: var(--a-hover-color);
}

form input:focus, form button:focus {
    color: var(--a-clicked-color);
}

/*------------NAV BAR -----------*/
nav {
    flex: 10%;
    background-color: var(--tokensBox-color);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: var(--small-txt);
}

li {
    background: var(--tokensBox-btn-color);
    text-align: center;
    border-radius: 5px;
    margin-left: 6px;
    margin-top: 6px;
    padding-right: 5px;
    padding-left: 5px;
}

.link_btn {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: var(--a-color);
}

a, a:visited {
    text-decoration: none;
    color: var(--a-color);
}
a:hover {
    color: var(--a-hover-color);
}
a:active {
    color: var(--a-clicked-color);
}

.divider {
    flex: 1;
    background: #00000000;
}

/*----------FOOTER-----------------*/
footer {
    background-color: var(--tokensBox-color);
    font-size: var(--small-txt);
    flex: 10%;
}

/*----------GAME AREA-------------*/
#gameArea {
    margin: 0 auto;
    height: 70%;
    width: 65%;
    display: flex;
    flex-direction: column;
/*    justify-content: space-between;*/
}

/*------------BUTTONS---------------*/
#btnArea {
    flex: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3px;
}

.btn {
    flex: 1;
    padding: 0;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background: var(--tokensBox-btn-color);
}
.btn:hover {
    background: white;
}

#btnHP {
    background-image: var(--ecouter);
    background-repeat: no-repeat;
    background-size: var(--btn-img-size);
    background-position: center;
}

#btnOK {
    background-image: var(--verifier);
    background-repeat: no-repeat;
    background-size: var(--btn-img-size);
    background-position: center;
}

#btnNext {
    background-image: var(--next);
    background-repeat: no-repeat;
    background-size: var(--btn-img-size);
    background-position: center;
}

/*----------USER INPUT BOX-------------*/
#userInputBox {
/*    border: 1px solid var(--border-color);*/
    border-radius: 10px;
    padding: 2px;
    flex: 25%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin-bottom: 6px;
}

/*-----------TOKENS BOX ------------*/
#tokensBox {
    flex:40%;
    background-color: var(--tokensBox-color);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.token {
    font-size: var(--medium-txt);
    text-align: center;
    padding: 2px;
/*    background-color: var(--tokensBox-color);*/
    margin: 2px;
    max-height: 2em;
}


/*-----------BIG SCREENS-----------*/
@media (min-width: 700px) { 

html {
    font-size: 100%;
    background-color: var(--bg-color);
}

#gameArea{
    /*min-height: 500px;*/
}

#btnOK, #btnHP, #btnNext {
    background-size: var(--btn-img-size-bigScreen);
}

h1 {
    font-size: var(--title-txt);
}

/*main {
    width: 50vw;
}*/

/*ul {
    min-width: 25%;
}*/

body {
    width: 70%;
    margin: 0 auto;
}

}